version: '3.8'

services:
  # 1. 스프링 부트 애플리케이션
  app:
    container_name: a-to-zect
    build: .
    ports:
      - "${APP_PORT:-8080}:8080"
    depends_on:
      - db
    environment:
      - TZ=Asia/Seoul
      - SPRING_DATASOURCE_URL=${DB_URL}
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PWD}
    restart: always

  # 2. 오라클 데이터베이스
  db:
    container_name: atozect-db
    image: gvenzl/oracle-free:${ORACLE_TAG}
    # 여기에 .env의 PLATFORM 변수를 넣습니다.
    platform: ${PLATFORM}
    ports:
      - "1521:1521"
    environment:
      - TZ=Asia/Seoul
      - ORACLE_PASSWORD=${ORACLE_PWD}
      - APP_USER=${DB_USER}
      - APP_USER_PASSWORD=${DB_PWD}
    volumes:
      - oracle_data:/opt/oracle/oradata

volumes:
  oracle_data: